/* Geral */
:root {
    --primary-color: #076EA4;
    --primary-light: #E8F0F8;
    --body-background-color: #F7F9FB;
    --background-light: #F6F7FA;
    --background-dark: #E8F0F8;
    --text-primary: #0275B1;
    --text-dark: #181818;
}
body {
    background-color: var(--body-background-color);
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #181818;
}

/* Header */
header {
    width: 100%;
    height: 80px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}
header nav {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .left {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
header nav .left ul {
    display: flex;
    height: 100%;
    align-items: center;
}

header nav .left ul li {
    width: 90px;
    height: 100%;
}

header nav .left ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header nav .left ul li a:hover {
    color: var(--text-primary) !important;
    font-weight: bold;
}
header nav .left ul li a i {
    position: absolute;
    top: 15px;
    font-size: 24px;
}
header nav .left ul li a span {
    position: relative;
    top: 15px;
    margin-top: 5px;
    font-size: 18px;
}


header nav .right {
    width: 420px;
    height: 100%;
    display: flex;
}
header nav .right .profile {
    display: flex;
    width: 330px;
    height: 100%;
    align-items: center;
    padding-left: 35px;
}
header nav .right .profile img {
    width: 45px;
    margin-right: 20px;
    border-radius: 50%;
}

header nav .right .settings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100%;;
}

/* Footer */
